*.swp
*.swo
*.iml
.idea/misc.xml
.idea/workspace.xml
.idea/inspectionProfiles
test-images
test-output
sys_test_output
/dist

/CrystalMatch/logs

venv*
/config
/logs

*.pyc
gi
.idea/dictionaries/marcs.xml
.idea/other.xml
