[[source]]
url = "https://test.pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "*"
parameterized = "*"

[packages]
numpy = "*"
scipy = "*"
pygelf = "*"

[requires]
python_version = "2.7.3"
